.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
 position: relative;
 min-height: 1px;
 padding-right: 10px;
 padding-left: 10px;
}

@media ( min-width : 768px) {
 .col-sm-5ths {
  width: 33.3%;
 /*width: 20%;*/

  float: left;
 }
}

@media ( min-width : 992px) {
 .col-md-5ths {
  width: 33.3%;
  /*width: 20%;*/
  float: left;
 }
}

@media ( min-width : 1200px) {
 .col-lg-5ths {
  width: 33.3%;
  /*width: 20%;*/
  float: left;
 }
}
.col-xs-6ths, .col-sm-6ths, .col-md-6ths, .col-lg-6ths {
 position: relative;
 min-height: 1px;
 padding-right: 10px;
 padding-left: 10px;
}

@media ( min-width : 768px) {
 .col-sm-6ths {
  width: 16.6%;
 /*width: 20%;*/

  float: left;
 }
}

@media ( min-width : 992px) {
 .col-md-6ths {
  width: 16.6%;
  /*width: 20%;*/
  float: left;
 }
}

@media ( min-width : 1200px) {
 .col-lg-6ths {
  width: 16.6%;
  /*width: 20%;*/
  float: left;
 }
}